<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Melon Monitoring | </title>

  <!-- Bootstrap -->
  <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- NProgress -->
  <link href="/vendors/nprogress/nprogress.css" rel="stylesheet">
  <!-- iCheck -->
  <link href="/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
  
  <!-- bootstrap-progressbar -->
  <link href="/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
  <!-- JQVMap -->
  <link href="/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet"/>
  <!-- bootstrap-daterangepicker -->
  <link href="/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

  <!-- Custom Theme Style -->
  <link href="/build/css/custom.css" rel="stylesheet">
  <link href="/build/css/timeline.css" rel="stylesheet">
</head>

<body class="nav-md">
  <div class="container-fluid body">
    <div class="main_container">

      <!-- page content -->
      <div role="main">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h3>Realtime Monitoring</h3>

                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <div class="row tile_count">
                  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <h4 class="count_top">Air Temperature</h4>
                    <div id="temperature" class="count">- °C</div>
                    <span class="count_bottom"><i class="green"><i class="fa fa-smile-o"></i></i> Good</span>
                  </div>
                  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <h4   class="count_top">Water Temperature</h4>
                    <div id="water_temperature" class="count">- °C</div>
                    <span class="count_bottom"><i class="green"><i class="fa fa-smile-o"></i></i> Good</span>
                  </div>
                  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <h4 class="count_top">Air Humidity</h4>
                    <div id="humidity" class="count yellow">- %</div>
                    <span class="count_bottom"><i class="yellow"><i class="fa fa-meh-o"></i></i> Fair</span>
                  </div>
                  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <h4 class="count_top">pH</h4>
                    <div class="count red">-</div>
                    <span class="count_bottom"><i class="red"><i class="fa fa-frown-o"></i></i> Poor</span>
                  </div>
                  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <h4 class="count_top">EC</h4>
                    <div id="ec" class="count">-</div>
                    <span class="count_bottom"><i class="green"><i class="fa fa-smile-o"></i></i> Good</span>
                  </div>
                  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <h4 class="count_top">Light</h4>
                    <div id="light" class="count">- lux</div>
                    <span class="count_bottom"><i class="green"><i class="fa fa-smile-o"></i></i> Excellent</span>
                  </div>
                </div>
                <span class="count_bottom" id="last_update"></span>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
        <br />

<!--           <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h3>Planting Timeline</h3>

                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div style="display:inline-block;width:100%;overflow-y:auto;">
                        <ul class="timeline timeline-horizontal">
                          <li class="timeline-item">
                            <div class="timeline-badge primary"><i class="fa fa-eyedropper"></i></div>
                            <div class="timeline-panel">
                              <div class="timeline-heading">
                                <h4 class="timeline-title">Apply Fertilizer #2</h4>
                                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i></small> Next week (8/10/2017)</p>
                              </div>
                              <div class="timeline-body">
                                <p>Mussum ipsum cacilds, vidis litro abertis. Consetis faiz elementum girarzis, nisi eros gostis.</p>
                              </div>
                            </div>
                          </li>
                          <li class="timeline-item">
                            <div class="timeline-badge primary"><i class="fa fa-eyedropper"></i></div>
                            <div class="timeline-panel">
                              <div class="timeline-heading">
                                <h4 class="timeline-title">Apply Fertilizer #3</h4>
                                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i></small> Next 2 weeks (15/10/2017)</p>
                              </div>
                              <div class="timeline-body">
                                <p>Mussum ipsum cacilds, vidis faiz elementum girarzis, nisi eros gostis.</p>
                              </div>
                            </div>
                          </li>
                          <li class="timeline-item">
                            <div class="timeline-badge success"><i class="glyphicon glyphicon-grain"></i></div>
                            <div class="timeline-panel">
                              <div class="timeline-heading">
                                <h4 class="timeline-title">Harvest</h4>
                                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i></small> 5/11/2017</p>
                              </div>
                              <div class="timeline-body">
                                <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.</p>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div> -->

          <div class="row">
            <!-- <div class="col-md-6 col-sm-6 col-xs-12"> -->
<!--               <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="x_panel">
                    <div class="x_title">
                      <h3>Planting Timeline</h3>

                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <div style="display:inline-block;width:100%;overflow-y:auto;">
                            <ul class="timeline timeline-horizontal">
                              <li class="timeline-item">
                                <div class="timeline-badge primary"><i class="fa fa-eyedropper"></i></div>
                                <div class="timeline-panel">
                                  <div class="timeline-heading">
                                    <h4 class="timeline-title">Apply Fertilizer #2</h4>
                                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i></small> Next week (8/10/2017)</p>
                                  </div>
                                  <div class="timeline-body">
                                    <p>Mussum ipsum cacilds, vidis litro abertis. Consetis faiz elementum girarzis, nisi eros gostis.</p>
                                  </div>
                                </div>
                              </li>
                              <li class="timeline-item">
                                <div class="timeline-badge primary"><i class="fa fa-eyedropper"></i></div>
                                <div class="timeline-panel">
                                  <div class="timeline-heading">
                                    <h4 class="timeline-title">Apply Fertilizer #3</h4>
                                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i></small> Next 2 weeks (15/10/2017)</p>
                                  </div>
                                  <div class="timeline-body">
                                    <p>Mussum ipsum cacilds, vidis faiz elementum girarzis, nisi eros gostis.</p>
                                  </div>
                                </div>
                              </li>
                              <li class="timeline-item">
                                <div class="timeline-badge success"><i class="glyphicon glyphicon-grain"></i></div>
                                <div class="timeline-panel">
                                  <div class="timeline-heading">
                                    <h4 class="timeline-title">Harvest</h4>
                                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i></small> 5/11/2017</p>
                                  </div>
                                  <div class="timeline-body">
                                    <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.</p>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </div> -->
<!--               <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="x_panel fixed_height_440">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <div class="x_title">
                        <h3>Daily Activities</h3>
                        <div class="clearfix"></div>
                      </div>
                      <div class="x_content">
                        <article class="media event">
                          <a class="pull-left date bg-blue">
                            <p class="day"><i class="fa fa-eyedropper"></i></p>
                          </a>
                          <div class="media-body">
                            <h5 class="title">Apply fertilizer #1</h5>
                          </div>
                        </article>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <div class="x_title">
                        <h3>Alerts</h3>
                        <div class="clearfix"></div>
                      </div>
                      <div class="x_content">
                        <article class="media event">
                          <div class="pull-left date bg-red">
                            <p class="day"><i class="fa fa-exclamation-triangle"></i></p>
                          </div>
                          <div class="media-body">
                            <h5 class="title">Acid Soil</h5>
                            <p>Fill Calcium in soil</p>
                          </div>
                        </article>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
<!--               <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="x_panel fixed_height_400">
                    <div class="x_title">
                      <h3>Plant Growth</h3>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <div class="row tile_count">
                        <div class="col-md-6 col-sm-12 col-xs-12 tile_stats_count">
                          <h3 class="count_top">Growth</h3>
                          <div class="count">71% <i class="glyphicon glyphicon-grain"></i></div>
                          <span class="count_bottom">25 / 35 Days</span>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12 tile_stats_count">
                          <h3 class="count_top">Growth Phase</h3>
                          <div class="count">Fruiting</div>
                        </div>
                      </div>

                      <div class="clearfix"></div>

                      <div class="col-xs-12 bg-white progress_summary">

                        <div class="row">
                          <div class="progress_title">
                            <h5 class="left">Harvest Due: 5/11/2017</h5>
                            <h5 class="right">Total</h5>
                            <div class="clearfix"></div>
                          </div>

                          <div class="col-xs-10">
                            <div class="progress">
                              <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="70">10 Days left</div>
                            </div>
                          </div>
                          <div class="col-xs-2 more_info">
                            <span>35 Days</span>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="x_panel fixed_height_400">
                    <div class="x_title">
                      <h3>Today's Weather</h3>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="temperature"><b>Monday</b>, 07:30 AM
                            <span>F</span>
                            <span><b>C</b></span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4">
                          <div class="weather-icon">
                            <canvas height="84" width="84" id="partly-cloudy-day"></canvas>
                          </div>
                        </div>
                        <div class="col-sm-8">
                          <div class="weather-text">
                            <h2>Bangkok <br><i>Partly Cloudy Day</i></h2>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="weather-text pull-right">
                          <h3 class="degrees">23</h3>
                        </div>
                      </div>

                      <div class="clearfix"></div>

                      <div class="row weather-days">
                        <div class="col-sm-2">
                          <div class="daily-weather">
                            <h2 class="day">Mon</h2>
                            <h3 class="degrees">25</h3>
                            <canvas id="clear-day" width="32" height="32"></canvas>
                            <h5>15 <i>km/h</i></h5>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="daily-weather">
                            <h2 class="day">Tue</h2>
                            <h3 class="degrees">25</h3>
                            <canvas height="32" width="32" id="rain"></canvas>
                            <h5>12 <i>km/h</i></h5>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="daily-weather">
                            <h2 class="day">Wed</h2>
                            <h3 class="degrees">27</h3>
                            <canvas height="32" width="32" id="snow"></canvas>
                            <h5>14 <i>km/h</i></h5>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="daily-weather">
                            <h2 class="day">Thu</h2>
                            <h3 class="degrees">28</h3>
                            <canvas height="32" width="32" id="sleet"></canvas>
                            <h5>15 <i>km/h</i></h5>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="daily-weather">
                            <h2 class="day">Fri</h2>
                            <h3 class="degrees">28</h3>
                            <canvas height="32" width="32" id="wind"></canvas>
                            <h5>11 <i>km/h</i></h5>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="daily-weather">
                            <h2 class="day">Sat</h2>
                            <h3 class="degrees">26</h3>
                            <canvas height="32" width="32" id="cloudy"></canvas>
                            <h5>10 <i>km/h</i></h5>
                          </div>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
            </div>-->
            <!-- <div class="col-md-6 col-sm-6 col-xs-12"> -->
<!--               <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="x_panel">
                    <div class="x_title">
                      <h2>Line Graph</h2>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div id="echart_line" style="width:100%; height:350px;"></div>
                      </div>
                      <div id="echart_line1" style="width:100%; height:350px;"></div>

                    </div>
                  </div>
                </div>

              </div> -->
              <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="x_panel">
                    <div class="x_title">
                      <h3>Humidity</h3>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <div id="graph_Humidity" style="width:100%; height:300px;"></div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="x_panel">
                    <div class="x_title">
                      <h3>Temperature</h3>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <div id="graph_Temperature" style="width:100%; height:300px;"></div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="x_panel">
                    <div class="x_title">
                      <h3>Light</h3>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <div id="graph_Light" style="width:100%; height:300px;"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="x_panel">
                    <div class="x_title">
                      <h3>EC</h3>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <div id="graph_ec" style="width:100%; height:300px;"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="x_panel">
                    <div class="x_title">
                      <h3>Water Temperature</h3>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <div id="graph_Water_Temperature" style="width:100%; height:300px;"></div>
                    </div>
                  </div>
                </div>
              </div>
<!--               <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="x_panel">
                    <div class="x_title">
                      <h3>Air Temperature</h3>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <div id="graph_line1" style="width:100%; height:300px;"></div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="x_panel">
                    <div class="x_title">
                      <h3>Water Temperature</h3>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <div id="graph_line2" style="width:100%; height:300px;"></div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="x_panel">
                    <div class="x_title">
                      <h3>Air Humidity</h3>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <div id="graph_line3" style="width:100%; height:300px;"></div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="x_panel">
                    <div class="x_title">
                      <h3>pH</h3>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <div id="graph_line4" style="width:100%; height:300px;"></div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="x_panel">
                    <div class="x_title">
                      <h3>EC</h3>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <div id="graph_line5" style="width:100%; height:300px;"></div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="x_panel">
                    <div class="x_title">
                      <h3>Light</h3>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <div id="graph_line6" style="width:100%; height:300px;"></div>
                    </div>
                  </div>
                </div>
              </div> -->
              <!-- </div> -->
              <!-- </div> -->


              <!-- /page content -->

            </div>
          </div>

          <!-- jQuery -->
          <script src="/vendors/jquery/dist/jquery.min.js"></script>
          <!-- Bootstrap -->
          <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
          <!-- FastClick -->
          <script src="/vendors/fastclick/lib/fastclick.js"></script>
          <!-- NProgress -->
          <script src="/vendors/nprogress/nprogress.js"></script>
          <!-- Chart.js -->
          <script src="/vendors/Chart.js/dist/Chart.min.js"></script>
          <!-- gauge.js -->
          <script src="/vendors/gauge.js/dist/gauge.min.js"></script>
          <!-- morris.js -->
          <script src="/vendors/raphael/raphael.min.js"></script>
          <script src="/vendors/morris.js/morris.min.js"></script>
          <!-- ECharts -->
          <script src="/vendors/echarts/dist/echarts.min.js"></script>
          <script src="/vendors/echarts/map/js/world.js"></script>
          <!-- bootstrap-progressbar -->
          <script src="/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
          <!-- iCheck -->
          <script src="/vendors/iCheck/icheck.min.js"></script>
          <!-- Skycons -->
          <script src="/vendors/skycons/skycons.js"></script>
          <!-- Flot -->
          <script src="/vendors/Flot/jquery.flot.js"></script>
          <script src="/vendors/Flot/jquery.flot.pie.js"></script>
          <script src="/vendors/Flot/jquery.flot.time.js"></script>
          <script src="/vendors/Flot/jquery.flot.stack.js"></script>
          <script src="/vendors/Flot/jquery.flot.resize.js"></script>
          <!-- Flot plugins -->
          <script src="/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
          <script src="/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
          <script src="/vendors/flot.curvedlines/curvedLines.js"></script>
          <!-- DateJS -->
          <script src="/vendors/DateJS/build/date.js"></script>
          <!-- JQVMap -->
          <script src="/vendors/jqvmap/dist/jquery.vmap.js"></script>
          <script src="/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
          <script src="/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
          <!-- bootstrap-daterangepicker -->
          <script src="/vendors/moment/min/moment.min.js"></script>
          <script src="/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

          <script src="/vendors/socketio/socket.io.js"></script>
          <script src="/vendors/moment-timezone/moment-timezone-with-data.js"></script>
          <!-- <script src="/vendors/moment-timezone/moment-timezone.min.js"></script> -->
          <!-- <script src="/vendors/moment-timezone/moment-with-locales.js"></script> -->
          <!-- Custom Theme Scripts -->
          <script src="/build/js/custom.js"></script>

          <script type="text/javascript">
            var socket = io();
            socket.on('temperature', function(data){
              $("#temperature").html(data.value + " °C");
            });
            socket.on('water_temperature', function(data){
              $("#water_temperature").html(data.value + " °C");
            });
            socket.on('ec', function(data){
              $("#ec").html(data.value + " ");
            });
            socket.on('humidity', function(data){
              $("#humidity").html(data.value + " %");
            });
            socket.on('light', function(data){
              $("#light").html(data.value + " Lux");
              $("#last_update").html(moment.tz(data.save_at,"Asia/Bangkok").format('LLLL'));

            });
            socket.on('graph-light', function(data){
              graph_Light.setData(data);
            });
            socket.on('graph-humidity', function(data){
              graph_Humidity.setData(data);
            });
            socket.on('graph-temperature', function(data){
              graph_Temperature.setData(data);
            });
            socket.on('graph-ec', function(data){
              graph_ec.setData(data);
            });
            socket.on('graph-water_temperature', function(data){
              graph_Water_Temperature.setData(data);
            });


            var graph_Humidity = Morris.Line({
              element: 'graph_Humidity',
              xkey: 'save_at',
              ykeys: ['value'],
              labels: ['Value'],
              hideHover: 'auto',
              lineColors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],
              data: [
              ],
              resize: true
            });

            var graph_Temperature = Morris.Line({
              element: 'graph_Temperature',
              xkey: 'save_at',
              ykeys: ['value'],
              labels: ['Value'],
              hideHover: 'auto',
              lineColors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],
              data: [
              ],
              resize: true
            });

            var graph_Light = Morris.Line({
              element: 'graph_Light',
              xkey: 'save_at',
              ykeys: ['value'],
              labels: ['Value'],
              hideHover: 'auto',
              lineColors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],
              data: [
              ],
              resize: true
            });

            var graph_ec = Morris.Line({
              element: 'graph_ec',
              xkey: 'save_at',
              ykeys: ['value'],
              labels: ['Value'],
              hideHover: 'auto',
              lineColors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],
              data: [
              ],
              resize: true
            });

            var graph_Water_Temperature = Morris.Line({
              element: 'graph_Water_Temperature',
              xkey: 'save_at',
              ykeys: ['value'],
              labels: ['Value'],
              hideHover: 'auto',
              lineColors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],
              data: [
              ],
              resize: true
            });
            var theme = {
              color: [
              '#26B99A', '#34495E', '#BDC3C7', '#3498DB',
              '#9B59B6', '#8abb6f', '#759c6a', '#bfd3b7'
              ],

              title: {
                itemGap: 8,
                textStyle: {
                  fontWeight: 'normal',
                  color: '#408829'
                }
              },

              dataRange: {
                color: ['#1f610a', '#97b58d']
              },

              toolbox: {
                color: ['#408829', '#408829', '#408829', '#408829']
              },

              tooltip: {
                backgroundColor: 'rgba(0,0,0,0.5)',
                axisPointer: {
                  type: 'line',
                  lineStyle: {
                    color: '#408829',
                    type: 'dashed'
                  },
                  crossStyle: {
                    color: '#408829'
                  },
                  shadowStyle: {
                    color: 'rgba(200,200,200,0.3)'
                  }
                }
              },

              dataZoom: {
                dataBackgroundColor: '#eee',
                fillerColor: 'rgba(64,136,41,0.2)',
                handleColor: '#408829'
              },
              grid: {
                borderWidth: 0
              },

              categoryAxis: {
                axisLine: {
                  lineStyle: {
                    color: '#408829'
                  }
                },
                splitLine: {
                  lineStyle: {
                    color: ['#eee']
                  }
                }
              },

              valueAxis: {
                axisLine: {
                  lineStyle: {
                    color: '#408829'
                  }
                },
                splitArea: {
                  show: true,
                  areaStyle: {
                    color: ['rgba(250,250,250,0.1)', 'rgba(200,200,200,0.1)']
                  }
                },
                splitLine: {
                  lineStyle: {
                    color: ['#eee']
                  }
                }
              },
              timeline: {
                lineStyle: {
                  color: '#408829'
                },
                controlStyle: {
                  normal: {color: '#408829'},
                  emphasis: {color: '#408829'}
                }
              },

              k: {
                itemStyle: {
                  normal: {
                    color: '#68a54a',
                    color0: '#a9cba2',
                    lineStyle: {
                      width: 1,
                      color: '#408829',
                      color0: '#86b379'
                    }
                  }
                }
              },
              map: {
                itemStyle: {
                  normal: {
                    areaStyle: {
                      color: '#ddd'
                    },
                    label: {
                      textStyle: {
                        color: '#c12e34'
                      }
                    }
                  },
                  emphasis: {
                    areaStyle: {
                      color: '#99d2dd'
                    },
                    label: {
                      textStyle: {
                        color: '#c12e34'
                      }
                    }
                  }
                }
              },
              force: {
                itemStyle: {
                  normal: {
                    linkStyle: {
                      strokeColor: '#408829'
                    }
                  }
                }
              },
              chord: {
                padding: 4,
                itemStyle: {
                  normal: {
                    lineStyle: {
                      width: 1,
                      color: 'rgba(128, 128, 128, 0.5)'
                    },
                    chordStyle: {
                      lineStyle: {
                        width: 1,
                        color: 'rgba(128, 128, 128, 0.5)'
                      }
                    }
                  },
                  emphasis: {
                    lineStyle: {
                      width: 1,
                      color: 'rgba(128, 128, 128, 0.5)'
                    },
                    chordStyle: {
                      lineStyle: {
                        width: 1,
                        color: 'rgba(128, 128, 128, 0.5)'
                      }
                    }
                  }
                }
              },
              gauge: {
                startAngle: 225,
                endAngle: -45,
                axisLine: {
                  show: true,
                  lineStyle: {
                    color: [[0.2, '#86b379'], [0.8, '#68a54a'], [1, '#408829']],
                    width: 8
                  }
                },
                axisTick: {
                  splitNumber: 10,
                  length: 12,
                  lineStyle: {
                    color: 'auto'
                  }
                },
                axisLabel: {
                  textStyle: {
                    color: 'auto'
                  }
                },
                splitLine: {
                  length: 18,
                  lineStyle: {
                    color: 'auto'
                  }
                },
                pointer: {
                  length: '90%',
                  color: 'auto'
                },
                title: {
                  textStyle: {
                    color: '#333'
                  }
                },
                detail: {
                  textStyle: {
                    color: 'auto'
                  }
                }
              },
              textStyle: {
                fontFamily: 'Arial, Verdana, sans-serif'
              }
            };


            var echartLine = echarts.init(document.getElementById('echart_line1'), theme);

            echartLine.setOption({
              title: {
                text: 'Line Graph',
              },
              tooltip: {
                trigger: 'axis'
              },
              legend: {
                x: 220,
                y: 40,
                data: ['Air Temperature', 'Air Humidity', 'Water Temperature']
              },
              toolbox: {
                show: true,
                feature: {
                  magicType: {
                    show: true,
                    title: {
                      line: 'Line',
                      bar: 'Bar',
                      stack: 'Stack',
                    },
                    type: ['line', 'bar', 'stack']
                  },
                  restore: {
                    show: true,
                    title: "Restore"
                  },
                  saveAsImage: {
                    show: true,
                    title: "Save Image"
                  }
                }
              },
              calculable: true,
              xAxis: [{
                type: 'category',
                boundaryGap: false,
                data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
              }],
              yAxis: [{
                type: 'value'
              }],
              series: [{
                name: 'Air Temperature',
                type: 'line',
                smooth: true,
                itemStyle: {
                  normal: {
                    areaStyle: {
                      type: 'default'
                    }
                  }
                },
                data: [24, 25, 25, 26, 24, 26, 24]
              }, {
                name: 'Air Humidity',
                type: 'line',
                smooth: true,
                itemStyle: {
                  normal: {
                    areaStyle: {
                      type: 'default'
                    }
                  }
                },
                data: [54, 65, 71, 50, 62, 95, 75]
              }, {
                name: 'Water Temperature',
                type: 'line',
                smooth: true,
                itemStyle: {
                  normal: {
                    areaStyle: {
                      type: 'default'
                    }
                  }
                },
                data: [14, 18, 16, 15, 15, 18, 17]
              }]
            });

            $MENU_TOGGLE.on('click', function() {
              $(window).resize();
            });

          </script>
        </body>
        </html>
